form {
  width: 600px;
  margin: 0 auto 3rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px;
}

form .form-heading {
  padding-block: 12px;
  border-radius: 10px 10px 0 0;
}

form .form-body {
  padding: 55px 75px;
  border-radius: 0 0 10px 10px;
}

form .form-body label {
  color: #000;
  width: 130px;
  min-width: 130px;
}

form .form-body .dropdown-toggle {
  width: calc(100% - 130px);
  margin-bottom: 1rem;
  text-align: left;
}

form .form-body .form-check input,
form .form-body .form-check label {
  cursor: pointer;
}

form .form-body .action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  margin-top: 2.5rem;
}

form .form-body .action-btn .btn {
  font-weight: bold;
}

.user-view .filter-area,
.role-view .filter-area,
.student-view .filter-area,
.program-view .filter-area,
.department-view .filter-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.user-view .filter-area .dropdown,
.role-view .filter-area .dropdown,
.student-view .filter-area .dropdown,
.program-view .filter-area .dropdown,
.department-view .filter-area .dropdown {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.user-view .filter-area label,
.role-view .filter-area label,
.student-view .filter-area label,
.program-view .filter-area label,
.department-view .filter-area label {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.user-view .filter-area .dropdown-toggle,
.role-view .filter-area .dropdown-toggle,
.student-view .filter-area .dropdown-toggle,
.program-view .filter-area .dropdown-toggle,
.department-view .filter-area .dropdown-toggle {
  width: 60%;
  color: #FFF;
  text-align: left;
}

.user-view table thead tr th,
.user-view table tbody tr td,
.role-view table thead tr th,
.role-view table tbody tr td,
.student-view table thead tr th,
.student-view table tbody tr td,
.program-view table thead tr th,
.program-view table tbody tr td,
.department-view table thead tr th,
.department-view table tbody tr td {
  color: #000;
}

.user-view table thead tr th,
.user-view table tbody tr td,
.role-view table thead tr th,
.role-view table tbody tr td,
.student-view table thead tr th,
.student-view table tbody tr td,
.program-view table thead tr th,
.program-view table tbody tr td,
.department-view table thead tr th,
.department-view table tbody tr td {
  text-align: center;
}

.user-create .action-btn,
.user-update .action-btn,
.role-create .action-btn,
.role-update .action-btn,
.student-create .action-btn,
.student-update .action-btn,
.program-create .action-btn,
.program-update .action-btn,
.department-create .action-btn,
.department-update .action-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin-top: 1rem !important;
}

.user-create .action-btn .btn,
.user-update .action-btn .btn,
.role-create .action-btn .btn,
.role-update .action-btn .btn,
.student-create .action-btn .btn,
.student-update .action-btn .btn,
.program-create .action-btn .btn,
.program-update .action-btn .btn,
.department-create .action-btn .btn,
.department-update .action-btn .btn {
  width: 130px;
  color: #FFF;
}

.user ul:not([class=pagination]),
.role ul:not([class=pagination]),
.student ul:not([class=pagination]),
.program ul:not([class=pagination]),
.department ul:not([class=pagination]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.user ul:not([class=pagination]) a li,
.role ul:not([class=pagination]) a li,
.student ul:not([class=pagination]) a li,
.program ul:not([class=pagination]) a li,
.department ul:not([class=pagination]) a li {
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  padding: .25rem .5rem;
}

.user ul:not([class=pagination]) a li:hover,
.role ul:not([class=pagination]) a li:hover,
.student ul:not([class=pagination]) a li:hover,
.program ul:not([class=pagination]) a li:hover,
.department ul:not([class=pagination]) a li:hover {
  -webkit-box-shadow: 5px 10px #ccc;
          box-shadow: 5px 10px #ccc;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.5);
  visibility: hidden;
}

.overlay .sidebar {
  --sidebar-width: 250px;
  width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: absolute;
  top: 200px;
  z-index: 3;
  border-radius: 20px;
  margin-left: calc(var(--sidebar-width) * -1);
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.overlay .sidebar-header {
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.overlay .sidebar-header div {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  cursor: pointer;
}

.overlay .sidebar-header div:hover .user-tooltip, .overlay .sidebar-header div:focus .user-tooltip, .overlay .sidebar-header div:active .user-tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.25s linear;
  transition: visibility 0s, opacity 0.25s linear;
}

.overlay .sidebar-header div .user-tooltip {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background-color: #eee;
  padding: 1rem;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 2;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 3px 3px 3px #ccc;
          box-shadow: 0px 3px 3px 3px #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}

.overlay .sidebar-header div .user-tooltip a,
.overlay .sidebar-header div .user-tooltip button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.overlay .sidebar-header div .user-tooltip a i,
.overlay .sidebar-header div .user-tooltip button i {
  background: transparent;
}

.overlay .sidebar-body {
  border-radius: 10px;
}

.overlay .sidebar-body ul {
  margin: 0;
  padding: 0 !important;
  border-right: 1px solid #000;
}

.overlay .sidebar-body ul:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay .sidebar-body ul li {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.overlay .sidebar-body ul li:not(last-child) {
  border-bottom: 1px solid #ccc;
}

.overlay .sidebar-body ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.overlay .sidebar-body ul li a span {
  width: 55px;
  background-color: transparent;
}

.overlay .sidebar-body ul li a span i {
  color: #00B388;
  font-size: 1.5rem;
  padding: 0;
}

.overlay .sidebar-body ul li a p {
  margin: 0;
  background-color: transparent;
  color: #000;
}

.overlay .sidebar-body ul li:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/*# sourceMappingURL=manager.css.map */