.import-grade-btn {
  position: relative;

  &:hover,
  &:focus,
  &:active {
    .tooltip-grade {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.25s linear;
    }
  }

  .tooltip-grade {
    transform: scale(0.7);
    border-radius: 10px;
    background-color: #c6c6c6;
    position: absolute;
    top: -1rem;
    left: 1rem;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;

    visibility: hidden;
    opacity: 0;
  }
}
