* {
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

.bg-primary,
.btn-primary {
    background-color: #2A1564 !important;
    border-color: #2A1564;
}

.bg-success,
.btn-success {
    background-color: #00B388 !important;
    border-color: #00B388;
}

.bg-danger,
.btn-danger {
    background-color: #E94E39 !important;
    border-color: #E94E39;
}

.bg-warning,
.btn-warning {
    background-color: #FFC600 !important;
    border-color: #FFC600;
}

.bg-info,
.btn-info {
    background-color: #606EB2 !important;
    border-color: #606EB2;
}

.btn,
input:not([type=file]),
textarea,
select {
    border-radius: 10px !important;
    outline: none;
}

input[type=checkbox],
input[type=radio] {
    margin-bottom: 0;
}

.btn,
i {
    &:hover {
        transition: all .5s ease;
        opacity: .8;
    }
}

input,
textarea,
select {
    margin-bottom: 1rem;
}

select {
    cursor: pointer;

    &:hover {
        transition: all .5s ease;
        opacity: .85;
    }

    option {
        color: #000;
    }
}

.text-success {
    color: #00B388 !important;
}

.text-danger {
    color: #E94E39 !important;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    color: #000;
    margin-bottom: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

table {
    min-width: 900px;

    th {
        text-align: center;
        white-space: nowrap;
    }

    td {
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;

        &:last-child {
            display: flex;
            justify-content: center;

            @media screen and (max-width: 992px) {
                display: grid;
            }

            button {
                border: none;
                background-color: transparent;
                padding: 0;
            }

            a {
                background-color: transparent;
            }
        }
    }
}

// Table customize
.table {
    display: table;

    .tr {
        display: flex;
        padding-block: .5rem;
        border-bottom: 1px solid #ccc;

        .th {
            width: 150px;
            min-width: 150px;
            font-weight: bold;
            white-space: nowrap;

            &::after {
                content: ':';
            }
        }

        .td {
            a {
                padding: 0;

                i {
                    margin: 0;
                }
            }
        }
    }
}

.dropdown-toggle {
    color: #FFF;
}

// // react-select
.select__control {
    max-width: 227px;
    width: 227px;
    margin-bottom: 1rem;
}

.select__input-container {
    background: transparent;
}

i {
    color: #FFF;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.fa-bars {
    font-size: 20px;

    &:hover {
        border: 1px solid #000;
        transform: scale(1.1);
    }
}

.fa-circle-info {
    background-color: #00B388;
}

.fa-pen-to-square {
    background-color: #FFC600;
    margin-inline: .5rem;

    @media screen and (max-width: 992px) {
        margin-block: .5rem;
    }
}

.fa-trash-can {
    background-color: #E94E39;
}

.page-link {
    color: #2A1564;

    span {
        background-color: transparent;
        color: #2A1564;
    }
}

@media screen and (max-width: 275px) {
    #logo {
        width: 100%;
    }
}