* {
  font-family: 'Poppins', sans-serif;
}

.bg-primary,
.btn-primary,
.btn-outline-primary {
  background-color: #2A1564 !important;
  border-color: #2A1564;
}

.bg-success,
.btn-success,
.btn-outline-success {
  background-color: #00B388 !important;
  border-color: #00B388;
}

.bg-danger,
.btn-danger,
.btn-outline-danger {
  background-color: #F06E28 !important;
  border-color: #F06E28;
}

.bg-warning,
.btn-warning,
.btn-outline-warning {
  background-color: #FFC600 !important;
  border-color: #FFC600;
}

.bg-info,
.btn-info,
.btn-outline-info {
  background-color: #606EB2 !important;
  border-color: #606EB2;
}

.search .search-bar input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search .search-bar input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search .search-btn {
  border: 1px solid #CED4DA;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn,
input:not([type=file]),
textarea,
select,
.toggleBtn {
  border-radius: 10px !important;
  outline: none;
}

input[type=checkbox],
input[type=radio] {
  margin-bottom: 0;
}

.btn:hover,
i:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .8;
}

input,
textarea,
select {
  margin-bottom: 1rem;
}

select {
  cursor: pointer;
}

select:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .85;
}

select option {
  color: #000;
}

.text-success {
  color: #00B388 !important;
}

.text-danger {
  color: #F06E28 !important;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  text-decoration: none;
  color: #FFF;
}

h1 {
  color: #000;
  margin-bottom: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

table {
  min-width: 900px;
}

table th {
  text-align: center;
  white-space: nowrap;
}

table td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

table td:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 992px) {
  table td:last-child {
    display: -ms-grid;
    display: grid;
  }
}

table td:last-child button {
  border: none;
  background-color: transparent;
  padding: 0;
}

table td:last-child a {
  background-color: transparent;
}

.table {
  display: table;
}

.table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-block: .5rem;
  border-bottom: 1px solid #ccc;
}

.table .tr .th {
  width: 150px;
  min-width: 150px;
  font-weight: bold;
  white-space: nowrap;
}

.table .tr .th::after {
  content: ':';
}

.table .tr .td a {
  padding: 0;
}

.table .tr .td a i {
  margin: 0;
}

.select__control {
  max-width: 227px;
  width: 227px;
  margin-bottom: 1rem;
}

.select__input-container {
  background: transparent;
}

i {
  padding: .5rem 1rem;
  border-radius: 10px;
}

.fa-bars {
  font-size: 20px;
}

.fa-bars:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fa-circle-info {
  background-color: #00B388;
}

.fa-pen-to-square {
  background-color: #FFC600;
  margin-inline: .5rem;
}

@media screen and (max-width: 992px) {
  .fa-pen-to-square {
    margin-block: .5rem;
  }
}

.fa-trash-can {
  background-color: #F06E28;
  color: #FFF;
}

.page-link {
  color: #2A1564;
}

.page-link span {
  background-color: transparent;
  color: #2A1564;
}

@media screen and (max-width: 275px) {
  #logo {
    width: 100%;
  }
}

.student-create form,
.student-update form,
.user-create form,
.user-update form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.student-create form .form-body,
.student-update form .form-body,
.user-create form .form-body,
.user-update form .form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .student-create form .form-body,
  .student-update form .form-body,
  .user-create form .form-body,
  .user-update form .form-body {
    gap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

form {
  width: 600px;
  margin: 0 auto 3rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px;
}

form .form-heading {
  padding-block: 12px;
  border-radius: 10px 10px 0 0;
}

form .form-body {
  padding: 55px 75px;
  border-radius: 0 0 10px 10px;
}

form .form-body label {
  color: #000;
  width: 130px;
  min-width: 130px;
}

form .form-body .dropdown-toggle {
  width: calc(100% - 130px);
  margin-bottom: 1rem;
  text-align: left;
}

form .form-body .form-check input,
form .form-body .form-check label {
  cursor: pointer;
}

form .form-body .handler-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  margin-top: 2.5rem;
}

form .form-body .handler-btn .btn {
  font-weight: bold;
}

.user-view table thead tr th,
.user-view table tbody tr td,
.role-view table thead tr th,
.role-view table tbody tr td,
.student-view table thead tr th,
.student-view table tbody tr td,
.program-view table thead tr th,
.program-view table tbody tr td,
.department-view table thead tr th,
.department-view table tbody tr td {
  color: #000;
}

.user-view table thead tr th,
.user-view table tbody tr td,
.role-view table thead tr th,
.role-view table tbody tr td,
.student-view table thead tr th,
.student-view table tbody tr td,
.program-view table thead tr th,
.program-view table tbody tr td,
.department-view table thead tr th,
.department-view table tbody tr td {
  text-align: center;
}

.user-create .handler-btn,
.user-update .handler-btn,
.role-create .handler-btn,
.role-update .handler-btn,
.student-create .handler-btn,
.student-update .handler-btn,
.program-create .handler-btn,
.program-update .handler-btn,
.department-create .handler-btn,
.department-update .handler-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin-top: 1rem !important;
}

.user-create .handler-btn .btn,
.user-update .handler-btn .btn,
.role-create .handler-btn .btn,
.role-update .handler-btn .btn,
.student-create .handler-btn .btn,
.student-update .handler-btn .btn,
.program-create .handler-btn .btn,
.program-update .handler-btn .btn,
.department-create .handler-btn .btn,
.department-update .handler-btn .btn {
  width: 130px;
  color: #FFF;
}

.user ul:not([class=pagination]),
.role ul:not([class=pagination]),
.student ul:not([class=pagination]),
.program ul:not([class=pagination]),
.department ul:not([class=pagination]) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.user ul:not([class=pagination]) a li,
.role ul:not([class=pagination]) a li,
.student ul:not([class=pagination]) a li,
.program ul:not([class=pagination]) a li,
.department ul:not([class=pagination]) a li {
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  padding: .25rem .5rem;
}

.user ul:not([class=pagination]) a li:hover,
.role ul:not([class=pagination]) a li:hover,
.student ul:not([class=pagination]) a li:hover,
.program ul:not([class=pagination]) a li:hover,
.department ul:not([class=pagination]) a li:hover {
  -webkit-box-shadow: 5px 10px #ccc;
          box-shadow: 5px 10px #ccc;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.5);
  visibility: hidden;
}

.overlay .sidebar {
  --sidebar-width: 250px;
  width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: absolute;
  top: 150px;
  z-index: 3;
  border-radius: 20px;
  margin-left: calc(var(--sidebar-width) * -1);
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.overlay .sidebar-header {
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.overlay .sidebar-header div {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  cursor: pointer;
}

.overlay .sidebar-header div:hover .user-tooltip, .overlay .sidebar-header div:focus .user-tooltip, .overlay .sidebar-header div:active .user-tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.25s linear;
  transition: visibility 0s, opacity 0.25s linear;
}

.overlay .sidebar-header div .user-tooltip {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background-color: #eee;
  padding: 1rem;
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 2;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0px 3px 3px 3px #ccc;
          box-shadow: 0px 3px 3px 3px #ccc;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}

.overlay .sidebar-header div .user-tooltip a,
.overlay .sidebar-header div .user-tooltip button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.overlay .sidebar-header div .user-tooltip a i,
.overlay .sidebar-header div .user-tooltip button i {
  background: transparent;
}

.overlay .sidebar-body {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay .sidebar-body ul {
  margin: 0;
  padding: 0 !important;
  border-right: 1px solid #000;
}

.overlay .sidebar-body ul:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay .sidebar-body ul li {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.overlay .sidebar-body ul li:not(last-child) {
  border-bottom: 1px solid #ccc;
}

.overlay .sidebar-body ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.overlay .sidebar-body ul li a span {
  width: 55px;
  background-color: transparent;
}

.overlay .sidebar-body ul li a span i {
  color: #00B388;
  font-size: 1.5rem;
  padding: 0;
  background-color: transparent;
}

.overlay .sidebar-body ul li a p {
  margin: 0;
  background-color: transparent;
  color: #000;
}

.overlay .sidebar-body ul li:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.overlay .sidebar-footer {
  position: relative;
}

.overlay .sidebar-footer .closeBtn {
  position: absolute;
  top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 100rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay .sidebar-footer .closeBtn:hover {
  background-color: #fff !important;
}

.overlay .sidebar-footer .closeBtn i {
  background-color: transparent;
  font-size: 1.5rem;
  -webkit-transition: unset;
  transition: unset;
}

.overlay .sidebar-footer .closeBtn i:hover {
  color: #dc3545;
}

.login form {
  width: 600px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px;
}

.login form .form-heading {
  padding-block: 12px;
  border-radius: 10px 10px 0 0;
}

.login form .form-body {
  padding: 55px 75px;
  border-radius: 0 0 10px 10px;
}

.login form .form-body .form-check input,
.login form .form-body .form-check label {
  cursor: pointer;
}

.login form .form-body .handler-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  margin-top: 2.5rem;
}

.login form .form-body .handler-btn .btn {
  font-weight: bold;
}

.login form .form-body .note {
  margin-top: 1rem;
  display: block;
}

.login form .form-body .note:hover {
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  color: #FFC600 !important;
}

@media screen and (max-width: 600px) {
  .login form {
    width: unset;
    margin: auto 1rem;
  }
}

@media screen and (max-width: 450px) {
  .login form .form-body {
    padding: 1rem;
  }
}
/*# sourceMappingURL=app.css.map */