.filter-search {
  ul {
    min-height: 200px;
    border-radius: 10px;
    background-color: #eee;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    position: relative;

    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    li {
      @media screen and (max-width: 375px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
    label {
      white-space: nowrap;
      font-weight: 600;
      min-width: 85px;
      margin-bottom: 0.5rem;
    }
  }
}
