.overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: rgba(50, 50, 50, 0.5);
    visibility: hidden;

    .sidebar {
        --sidebar-width: 250px;
        width: var(--sidebar-width);
        max-width: var(--sidebar-width);
        position: absolute;
        top: 150px;
        z-index: 3;
        border-radius: 20px;
        margin-left: calc(var(--sidebar-width) * -1);
        transition: all 0.25s linear 0s;

        &-header {
            border: 1px solid #000;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;

            div {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                position: relative;
                cursor: pointer;

                &:hover,
                &:focus,
                &:active {
                    .user-tooltip {
                        visibility: visible;
                        opacity: 1;
                        transition: visibility 0s, opacity 0.25s linear;
                    }
                }

                .user-tooltip {
                    transform: scale(.7);
                    background-color: #eee;
                    padding: 1rem;
                    position: absolute;
                    top: 40%;
                    left: 60%;
                    z-index: 2;
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    width: max-content;
                    box-shadow: 0px 3px 3px 3px #ccc;
                    border-radius: 10px;
                    visibility: hidden;
                    opacity: 0;

                    a,
                    button {
                        display: flex;
                        align-items: center;
                        font-size: 1.5rem;

                        i {
                            background: transparent;
                        }
                    }
                }
            }

        }

        &-body {
            background-color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            ul {
                margin: 0;
                padding: 0 !important;
                border-right: 1px solid #000;
                overflow-y: scroll;
                max-height: 400px;

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                li {
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;

                    &:not(last-child) {
                        border-bottom: 1px solid #ccc;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        background-color: transparent;

                        span {
                            width: 55px;
                            background-color: transparent;

                            i {
                                color: #00B388;
                                font-size: 1.5rem;
                                padding: 0;
                                background-color: transparent;
                            }
                        }

                        p {
                            margin: 0;
                            background-color: transparent;
                            color: #000;
                        }
                    }

                    &:hover {
                        transform: scale(.95);
                        transition: all .5s ease;
                    }
                }
            }

            .child-item:hover {
                opacity: .7;
                transition: opacity .25s linear;
            }
        }

        &-footer {
            position: relative;

            .closeBtn {
                position: absolute;
                top: 1rem;
                left: 50%;
                transform: translateX(-50%);
                padding: 1.5rem;
                width: 50px;
                height: 50px;
                border-radius: 100rem !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #fff !important;
                }

                i {
                    background-color: transparent;
                    font-size: 1.5rem;
                    transition: unset;

                    &:hover {
                        color: #dc3545;
                    }
                }
            }
        }
    }
}